


@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary-color: hsla(0, 0%, 100%);
  --secondary-main-color: hsla(0, 0%, 80%);
  --secondary-accent-color: hsla(0, 0%, 20%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  *, *::before, *::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
}

@layer components {
  input.music-slider[type=range] {
    @apply appearance-none bg-transparent;
    &::-webkit-slider-thumb {
      @apply relative -top-[5px] bg-white appearance-none h-3 w-3 rounded-full z-1;
    }
    &::-webkit-slider-runnable-track {
      @apply h-[2px] -mx-[4px];
    }
    &::-moz-range-track {
      @apply h-[2px] ;
    }
    &::-ms-track {
      @apply h-[2px];
    }
  }

}
